/* /////////////////////////////////////////
Grid styling for navbar sections
//////////////////////////////////////// */

.nav-bar {
  display: flex;
  flex-direction: row;
  height: 79px;
  border-bottom: 1px solid #d0d2d3;
}

.mobile-logo-searchbar-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

/* /////////////////////////////////////////
For logo at the left of navbar
//////////////////////////////////////// */

.logo-nav-container {
  background: url('../assets/tagaz-logo.svg');
}

.logo-nav-container:hover {
  background: url('../assets/tagaz-logo-alt.svg');
  background-color: #b70138;
  cursor: pointer;
}

.logo-nav-container, .logo-nav-container:hover {
  border-right: 1px solid #d0d2d3;
  background-repeat: no-repeat;
  background-position: center;
  width: 216px;
}

/* /////////////////////////////////////////
For search bar at the middle of navbar
//////////////////////////////////////// */


.search-bar-nav-container {
  border-right: 0.5px solid #d0d2d3;
  flex-grow: 1;
}

.search-bar-nav-container-infocus {
  display: flex;
  flex-direction: column;
}

.search-bar-dropdown-container {
  height: 486px;
  border: 1px solid #d0d2d3;
}

.search-bar-container {
  border-bottom: 1px solid #d0d2d3;
  display: flex; 
  height: 33px;
  margin: 16px 23px 15px;
  padding: 7px 0;
}

.search-icon {
  background: url('../assets/search.svg');
  margin: 0 15px 0 0;
  height: 24px;
  width: 24px;
}

.search-bar {
  background-color: white;
  border: none;
  color: #b70138;
  font: 17px/20px Calibre-Regular;
  letter-spacing: .013em;
  width: 100%;
}

.search-bar::-webkit-input-placeholder {
  color: #767777;
}

/* /////////////////////////////////////////
For menu options at the right of navbar
//////////////////////////////////////// */

.menu-button {
  background: url('../assets/menu-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  width: 59px;
}

.menu-nav-container {
  color: #656666;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.menu-container {
  display: flex;
  justify-content: flex-end;
}

.menu-link {
  display: flex;
  align-items: center;
  font-family: Calibre-Medium;
  text-transform: uppercase;
}

.menu-link:hover {
  color: #b70138;
  cursor: pointer;
}

.down-chevron {
  background: url('../assets/downChevron.svg');
  height: 25px;
  width: 25px;
}

@media only screen and (min-width: 960px) {
  .menu-link {
    padding: 0 40px;
    font-size: 15px/20px;
    letter-spacing: .086em;
  }
}

@media only screen and (max-width: 959px) {
  .menu-link {
    font-size: 14px;
  }
}

@media only screen and (max-width: 959px) and (min-width: 768px) {
  .menu-link {
    padding: 0 23px;
  }
}

@media only screen and (max-width: 767px) {
  .nav-bar {
    flex-direction: column;
    border-bottom: none;
  }

  .mobile-logo-searchbar-container {
    border-bottom: 1px solid #d0d2d3;
    height: 59px;
  }

  .search-bar-container {
    border-bottom: none;
  }

  .menu-button {
    display: block;
  }

  .menu-container {
    border-bottom: 1px solid #d0d2d3;
    justify-content: center;
    height: 39px;
  }

  .menu-link {
    font-size: 12px;
    letter-spacing: .125em;
    margin-right: 40px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 600px) {
  
}
