/* /////////////////////////////////////////
Grid styling for navbar sections
//////////////////////////////////////// */

.nav-bar {
  display: grid;
  grid-template-columns: .9fr 2.035fr 2.965fr;
  height: 79px;
  border-bottom: 1px solid #d0d2d3;
}

/* /////////////////////////////////////////
For logo at the left of navbar
//////////////////////////////////////// */

.logo-nav-container {
  background: url('../assets/tagaz-logo.svg');
}

.logo-nav-container:hover {
  background: url('../assets/tagaz-logo-alt.svg');
  background-color: #b70138;
  cursor: pointer;
}

.logo-nav-container, .logo-nav-container:hover {
  border-right: 1px solid #d0d2d3;
  grid-column: 1;
  background-repeat: no-repeat;
  background-position: center;
}

/* /////////////////////////////////////////
For search bar at the middle of navbar
//////////////////////////////////////// */

.search-bar-nav-container {
  border-right: 0.5px solid #d0d2d3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-bar-container {
  border-bottom: 1px solid #d0d2d3;
  display: flex; 
  height: 33px;
  grid-column: 2;
  margin: 0 23px;
  padding: 7px 0;
}

.search-icon {
  background: url('../assets/search.svg');
  margin: 0 15px 0 0;
  height: 24px;
  width: 24px;
}

.search-bar {
  background-color: white;
  border: none;
  color: #b70138;
  font: 17px/20px Calibre-Regular;
  grid-column: 2;
  letter-spacing: .013em;
  width: 100%;
}

.search-bar::-webkit-input-placeholder {
  color: #767777;
}

/* /////////////////////////////////////////
For menu options at the right of navbar
//////////////////////////////////////// */

.menu-nav-container {
  color: #656666;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-container {
  display: flex;
  justify-content: flex-end;
}

.menu-link {
  display: flex;
  align-items: center;
  padding: 0 40px 0 0;
  font: 15px/20px Calibre-Medium;
  letter-spacing: 0.086em;
  text-transform: uppercase;
}

.menu-link:hover {
  color: #b70138;
  cursor: pointer;
}

.menu-link:first-child {
  padding: 0 40px;
}

.down-chevron {
  background: url('../assets/downChevron.svg');
  height: 25px;
  width: 25px;
}