.search-bar-dropdown-popular {
  padding: 0 0 12px;
  border-bottom: 1px solid #d0d2d3;
}

.search-bar-dropdown-popular-search {
  min-height: 30px;
  display: flex;
}

.search-bar-dropdown-popular-search:hover {
  color: #b70138;
  cursor: pointer;
}

.food-search-icon {
  background: url('../assets/icons/food-search-icon.png');
}

.coffee-search-icon {
  background: url('../assets/icons/coffee-search-icon.png');
}

.clock-search-icon {
  background: url('../assets/icons/clock-search-icon.png');
}

.food-search-icon, .coffee-search-icon, .clock-search-icon {
  margin: 0 15px 0 0;
  height: 24px;
  width: 24px;
  background-position: center;
  background-repeat: no-repeat;
}
